{% extends "account/base.html" %}

{% load i18n %}

{% load bootstrap3 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<!-- Added from social signup -->
    <p><b>Register with a social account.</b></p>
<div class="socialaccount_ballot">

  <ul class="socialaccount_providers" style="padding-left: 0px;">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

<!-- end -->

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
   {%  bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-default" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
