<!DOCTYPE html>

{% extends 'site_base.html' %}
{% load staticfiles %}

{% load bootstrap3 %}


{% block title %}Complete Registration{% endblock %}

{% block body_block %}
<body>
{% if user.profile.researcher == None or user.profile.participant == None  %}

    <h1>Complete {{ user.profile.typex }} Details</h1>

    {% if user.profile.typex == 'Researcher' %}

        <form id="complete_registration" method="post" action="/part_finder/complete_registration/">

            {% csrf_token %}
            {% for hidden in researcher_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in researcher_form.visible_fields %}
{#                {{ field.errors }}#}
{#                {{ field.label }}#}
                {% bootstrap_field field %}
            {% endfor %}

            <input class="btn btn-default" type="submit" name="submit" value="Update Researcher Details" />
        </form>
    {% elif user.profile.typex == 'Participant'  %}

            <form id="complete_registration" method="post" action="/part_finder/complete_registration/">

            {% csrf_token %}
            {% for hidden in participant_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in participant_form.visible_fields %}
{#                {{ field.errors }}#}
{#                {{ field.label }}#}
               {% bootstrap_field field %}
            {% endfor %}

            <input class="btn btn-default" type="submit" name="submit" value="Update Participant Details" />
        </form>
    {% else %} Invalid User Type, Please log in

    {% endif %}

{#    redirect url to home page#}

    {% endif %}

{#     {{ user.profile.typex }}#}
{##}
{#    {% if user_profile %}#}
{#             <ul>#}
{#                {% for user in user_profile %}#}
{#                <li>{{ experiment.name }}</li>#}
{#                <li>{{ typex }}</li>#}
{##}
{#                <li>{{ experiment.date }}</li>#}
{#                <li>{{ experiment.startTime }}</li>#}
{#                <li>{{ experiment.endTime }}</li>#}
{#                <li>{{ experiment.noOfPartsWanted }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% else %}#}
{#            <strong>There are no experiments present.</strong>#}
{#        {% endif %}#}
{##}
{##}
{#     {{ user_profile }}#}
{##}
{##}
{#    {% for user in profile %}#}
{##}
{#          {{ user_profile }}#}

{#    {% endfor %}#}

{#    {% for user in user_profile %}#}
{##}
{#        {% if user == user_profile %}#}
{##}
{#            {{ boldmessage }}#}
{##}
{##}
{#        {% else %}#}
{##}
{#            <h1>Booooooo!!!</h1>#}
{##}
{#        {% endif %}#}
{##}
{##}
{#    {% endfor %}#}




</body>

{% endblock %}

</html>