<!DOCTYPE html>
{#{% extends "allauthbase.html" %}#}

<html>
    <head>
        <title>Participants Finder - {% block title %}Find Experiment Participants{% endblock %}</title>
    </head>

    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />
<!------copied from allauthbase.html------>
        <div>
      <strong>Menu:</strong>
      <ul>
	{% if user.is_authenticated %}
	<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
	<li><a href="{% url 'account_logout' %}?next=/part_finder/">Sign Out</a></li>
	{% else %}
	<li><a href="{% url 'account_login' %}">Sign In</a></li>
	<li><a href="{% url 'account_signup' %}">Sign Up</a></li>
	{% endif %}
      </ul>
    </div>
        {% block content %}
    {% endblock %}
<!------------------------------------->


        <hr />
        <a href="/part_finder/add_experiment/">Add an Experiment</a><br />
        <a href="/part_finder/participant_details/">Edit Participant Details</a><br />
        <a href="/part_finder/researcher_signup/">Researcher Signup</a><br />
        <div>
        <ul>
            {% if user.is_authenticated %}

{#        <li><a href="{% url 'auth_logout' %}?next=/part_finder/">Logout</a></li>#}

    {% else %}


    {% endif %}


    </ul>
</div>



    </body>
</html>