<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Participants Finder - {% block title %}Find Participants{% endblock %}</title>

    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <link href="{% static 'css/simple-sidebar.css'%}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body>
<div id="wrapper" class="toggled">

<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Dashboard
                    </a>
                </li>
                {% if user.profile.typex == 'Participant' %}

                    <li><a href="#">Current Experiments</a></li>
                    <li><a href="#">Applications</a></li>
                    <li><a href="#">Experiment History</a></li>
{#                    <li><a href="/part_finder/profile/update">Profile</a></li>#}
                    <li><a href="/part_finder/participant/update/">Participant Details</a></li>

                {% elif user.profile.typex == 'Researcher' %}

                    <li><a href="#">Current Experiments</a></li>
                    <li><a href="#">Applications</a></li>
                    <li><a href="#">Experiment History</a></li>
                    <li><a href="/part_finder/add_experiment">Create New Experiment</a></li>
{#                    <li><a href="/part_finder/profile/update">Profile</a></li>#}
                    <li><a href="/part_finder/researcher/update/">Researcher Details</a></li>

                {% else %}

                    <li><a href="#">How it works</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>

                {% endif %}

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a href="#menu-toggle" class="toggled navbar-brand" id="menu-toggle" ><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></a>
          <a class="navbar-brand" href="/part_finder/">Participant Finder</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="{% url 'index' %}">Home</a></li>-->
                    {% if user.is_authenticated %}
                        <li><a href=" ">Experiments</a></li>
{#                        <li><a href=" ">Admin</a></li>#}
                        <li><a href="{% url 'account_logout' %}?next=/part_finder/">Logout</a></li>

                    {% else %}
                        <li><a href="{% url 'account_signup' %}">Register</a></li>
                        <li><a href="{% url 'account_login' %}">Login</a></li>
                    {% endif %}
                    {% if user.profile.typex == 'Researcher' %}
                     <li><a href="{% url 'add_experiment' %}">Add Experiment</a></li>
                    {% endif %}

              </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
{#        <div class="col-sm-3 col-md-2 sidebar">#}
{#        {% block content %}    {% endblock %}#}
{#                {% block side_block %}{% endblock %}#}

{#        </div>#}






        <div class="col-sm-12 col-md-12 {#main" style="padding: 0px;">










                {% block body_block %}{% endblock %}
                </div>
        </div>
      </div>
    </div>
</div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

<!-- jQuery -->
    <script src="{% static 'js/jquery.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>


  <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $('#myTabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })


    </script>
  </body>
</html>