<!DOCTYPE html>
<html>
    <head>
        <title>Participant Finder</title>
    </head>

    <body>
        <h1>Latest Experiments</h1>

        {% if experiments %}
            <ul>
                {% for experiment in experiments %}
                <li>{{ experiment.name }}</li>
                <li>{{ experiment.date }}</li>
                <li>{{ experiment.startTime }}</li>
                <li>{{ experiment.endTime }}</li>
                <li>{{ experiment.noOfPartsWanted }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no experiments present.</strong>
        {% endif %}

{#        <a href="/rango/about/">About</a>#}
    </body>
</html>