<!DOCTYPE html>
<html>
    <head>
        <title>Participant Finder</title>
    </head>

    <body>
        <h1>Latest Experiments</h1>

        {% if experiments %}
             <ul>
                {% for experiment in experiments %}
{#                <li>{{ experiment.name }}</li>#}
                <li><a href="/part_finder/experiments/{{ experiment.slug }}">{{ experiment.name }}</a></li>

{#                <li>{{ experiment.date }}</li>#}
{#                <li>{{ experiment.startTime }}</li>#}
{#                <li>{{ experiment.endTime }}</li>#}
{#                <li>{{ experiment.noOfPartsWanted }}</li>#}
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no experiments present.</strong>
        {% endif %}

{#        <a href="/rango/about/">About</a>#}

    <a href="/part_finder/add_experiment/">Add an Experiment</a><br />
    <a href="/part_finder/participant_details/">Edit Participant Details</a><br />
    </body>
</html>

