<!DOCTYPE html>
{% extends 'sitebase.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block title %} My Experiments{% endblock %}

{% block body_block %}

    <h1>Current Experiments</h1>

    <p>You currently have {{ exp_count }} experiments.</p>
    <div class="table table-responsive" data-example-id="simple-table" >
    <table class="table">
      <caption></caption>
      <thead>
        <tr>
          <th>Name</th>
{#          <th>Edit</th>#}
{#          <th>Applications</th>#}
        </tr>
      </thead>
      <tbody>
    {% for experiment in experiments %}
        {% if experiment.has_ended == False %}
        <tr>
          <td><a href="/part_finder/experiments/{{ experiment.researcher_slug }}/{{ experiment.slug }}">{{ experiment.name }}</a></td>
          <td><a href="/part_finder/process_applications/{{ experiment.researcher_slug }}/{{ experiment.slug }}"><button type="button" class="btn btn-default btn-xs">Applications</button></a></td>
          <td><a href="{% url 'end_experiment' experiment.id %}"><button type="button" class="btn btn-default btn-xs">End</button></a></td>
          <td><a href="/part_finder/delete/experiment/{{ experiment.id }}"><button type="button" class="btn btn-default btn-xs">Delete</button></a></td>

        </tr>
        {% endif %}
    {% endfor %}
      </tbody>
    </table>
  </div>



{% endblock %}


