<!DOCTYPE html>
{% extends 'site_base_toggle.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ experiment }}{% endblock %}

{% block body_block %}

    <h1>My Profile</h1>
        {% if experiment %}
            {% if experiment %}
            <ul>

                <li>{{ experiment.name }}</li>

            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            There are currently no experiments!
        {% endif %}

{% endblock %}


