<!DOCTYPE html>
{% extends 'sitebase.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block head %}
{{ form.media }}
{% endblock %}
{% block title %}Complete Registration{% endblock %}
{% block body_block %}

<h1>{{ user.profile.typex }} Details: Part 1 </h1>

    {% if user.profile.typex == 'Participant' %}

        <form id="participant_registration_1" method="post" action="/part_finder/participant_registration_1/">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-default" type="submit" name="submit" value="Submit" />
        </form>

    {% else %} Invalid User Type, Please log in

    {% endif %}

{% endblock %}

