<!DOCTYPE html>
{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% load bootstrap3 %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block body_block %}
    <h1>Complete {{ user.profile.typex }} Details</h1>
<h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>
<form action="/part_finder/participant_registration/" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {%   bootstrap_form wizard.form %}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input class="btn btn-default" type="submit" value="{% trans "submit" %}"/>
</form>
{% endblock %}



</html>