<!DOCTYPE html>
{% extends 'site_base_toggle.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}Process Applications{% endblock %}

{% block body_block %}
        <h1>{{ experiment.name }} Applications</h1>
        <div class="table table-striped" data-example-id="simple-table" >
            <table class="table">
              <caption></caption>
              <thead>
                <tr>
                  <th>Participant Name</th>
                  <th>Exp. Date</th>
                  <th>Exp. Time</th>
                  <th>Current Status</th>
                  <th>Update Status</th>
                </tr>
              </thead>
            <tbody>
            {% for Application in app %}

            <tr>
                    <td>{{ Application.participant.userprofile }}</td>
                    <td>{{ Application.timeslot.date }}</td>
                    <td>{{ Application.timeslot.start_time }} - {{ Application.timeslot.end_time }}</td>
                    <td>{{ Application.status }}</td>
                    <td><a href="/part_finder/update_status/{{ experiment.id }}/{{ Application.id }}"><button type="button" class="btn btn-default btn-xs">Update</button></a></td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>
{% endblock %}


