<!DOCTYPE html>
{% extends 'sitebase.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}Process Applications{% endblock %}

{% block body_block %}


    {% if user.profile.typex == 'Researcher' %}
    <h1>{{ experiment.name }} Applications</h1>
        {% for t in time %}
            <p><b>Timeslot: </b>{{ t.date }}, {{ t.start_time }} - {{ t.end_time }}</p>
            {% if t.is_full %}
                <p><b>{{ t.current_parts }} / {{ t.no_of_parts }} <span style="color: #ff0000">FULL</span></b>
            {% else %}
                <p><b>{{ t.current_parts }} / {{ t.no_of_parts }} </b>
            {% endif %}
            </p>
        {% endfor %}
        <div class="table table-responsive table-striped" data-example-id="simple-table" >
            <table class="table">
              <caption></caption>
              <thead>
                <tr>
                  <th>Participant Details</th>
                  <th>Exp. Date</th>
                  <th>Exp. Time</th>
                  <th>Current Status</th>
                  <th>Update Status</th>
                </tr>
              </thead>
            <tbody>
            {% for Application in app %}

            <tr>
                    <td>{{ Application.participant.userprofile.user.first_name }} {{ Application.participant.userprofile.user.last_name }}
                    <p><a href="mailto:{{ Application.participant.userprofile.user.email }}">{{ Application.participant.userprofile.user.email }}</a></p>
                    </td>
                    <td>{{ Application.timeslot.date }}</td>
                    <td>{{ Application.timeslot.start_time }} - {{ Application.timeslot.end_time }}</td>
                    <td>{{ Application.status }}</td>
                    <td><a href="/part_finder/update_status/{{ experiment.id }}/{{ Application.id }}"><button type="button" class="btn btn-default btn-xs">Update</button></a></td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>
    {% else %}
    {% endif %}
{% endblock %}


