<!DOCTYPE html>
{% extends 'sitebase.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% block title %} {{ researcher.userprofile.user.first_name }} {{ researcher.userprofile.user.first_name }} Profile{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <div class="row" style="min-height: 300px;">
            <div class="col-md-6">
                <h1>{{ researcher.userprofile.user.first_name }} {{ researcher.userprofile.user.last_name }}</h1>
                <p><b>Institution: </b>{{ researcher.university }}</p>
                <p><b>Dept: </b>{{ researcher.department }}</p>
                <p><b>Contact No: </b>{{ researcher.contact_no }}</p>
                <p><b>Email: </b><a href="mailto:{{ researcher.userprofile.user.email }}">{{ researcher.userprofile.user.email }}</a></p>
                <p><b>URL: </b><a href="{{ researcher.url }}">{{ researcher.url }}</a></p>
            </div>

            <div class="col-md-6">
                {% if experiments %}
                    <h1>Current Experiments</h1>
                    {% for e in experiments %}
                        <p><b><a href="/part_finder/experiments/{{ e.researcher_slug }}/{{ e.slug }}">{{ e.name }}</a></b></p>
                    {% endfor %}

                {% else %}
                    <p>There are currently no experiments.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


