<!DOCTYPE html>
<!-- experiment timeslots -->

{% extends 'sitebase.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %} My Experiments{% endblock %}

{% block body_block %}
    {% if user.profile.typex == 'Researcher' %}
        <h1>{{ experiment.name }} Timeslots</h1>

        <p>You currently have {{ timeslots.count }} timeslot(s).</p>

        <div class="table table-responsive" data-example-id="simple-table" >
            <table class="table">
                <caption></caption>
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>No. of Participants</th>
                </tr>
                </thead>
                <tbody>

                {% for timeslot in timeslots %}
                    {% if timeslot.experiment.has_ended == False %}
                        <tr>
                          <td>{{ timeslot.date }}</td>
                          <td>{{ timeslot.start_time }} - {{ timeslot.end_time }}</td>
                          <td>{{ timeslot.no_of_parts }}</td>
                          <td><a href="{% url 'update_timeslot' timeslot.id experiment.id %}"><button type="button" class="btn btn-default btn-xs">Edit</button></a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-default" href="{% url 'researcher_experiments' %}">Back to Current Experiments</a>
    {% else %}
    {% endif %}
{% endblock %}


